<section class="white-bg">
  <div class="content categories wrapper">
  <div class="categories-container">
    <div class="categories-card post-card">
        <div class="categories-image">
          <a href="{{site.baseurl}}/#topics">
          <img src="{{site.baseurl}}/assets/img/layout/topics.svg">
          </a>
        </div>
        <div>
          <a href="{{site.baseurl}}/#topics">
          <h4>Explore topics and charts</h4>
          <p>See interactive charts, data sources, definitions, and how and why data was collected. Take and use charts and data for free.</p>
          <button class="close-button">See topics</button>
        </a>
        </div> 
    </div>
    <div class="categories-card post-card">
        <div class="categories-image">
          <a href="{{site.baseurl}}/experts">
          <img src="{{site.baseurl}}/assets/img/layout/experts.svg">
          </a>
        </div>
        <div>
          <a href="{{site.baseurl}}/experts">
          <h4>Find Experts</h4>
            <p>Check out our directory of Pacific data experts, analysts, thinkers, and networks.</p>
            <button class="close-button">Find experts</button>
          </a>
        </div>
    </div>
    <div class="categories-card post-card">
        <div class="categories-image">
          <a href="{{site.baseurl}}/reports">
          <img src="{{site.baseurl}}/assets/img/layout/reports.svg">
          </a>
        </div>
        <div>
          <a href="{{site.baseurl}}/reports">
          <h4>Read reports and presentations</h4>
          <p>Get information that supports your use of data and provides a deeper understanding of Pacific life in Aotearoa through the lens of data</p>
          <button class="close-button">Find reports</button>
          </a>
        </div>
    </div>
     <div class="categories-card post-card">
        <div class="categories-image">
          <a href="https://figure.nz/business">
          <img src="{{site.baseurl}}/assets/img/layout/business.svg">
          </a>
        </div>
        <div>
          <a href="https://figure.nz/business">
          <h4>Find Business Figures</h4>
          <p>Explore data specific to your industries of work, workforce, and customer base.</p>
          <button class="close-button">Find business figures</button>
        </a>
        </div>
    </div>
  </div>
</div>
</section>