<section class="white-bg">
  <div class="content categories wrapper">
  <div class="categories-container">
    <div class="categories-card post-card">
        <div class="categories-image">
          <a href="{{site.baseurl}}/#topics" tabindex="-1" >
          <img alt="Explore topics" src="{{site.baseurl}}/assets/img/layout/topics.svg">
          </a>
        </div>
        <div>
          <a tabindex="-1" href="{{site.baseurl}}/#topics">
          <h3>Explore topics and charts</h3>
          <p>See interactive charts, data sources, definitions, and how and why data was collected. Take and use charts and data for free.</p>
          <button class="close-button">See topics</button>
        </a>
        </div> 
    </div>
    <div class="categories-card post-card">
        <div class="categories-image">
          <a href="{{site.baseurl}}/experts" tabindex="-1">
          <img alt="Find experts" src="{{site.baseurl}}/assets/img/layout/experts.svg">
          </a>
        </div>
        <div>
          <a tabindex="-1" href="{{site.baseurl}}/experts">
          <h3>Find experts</h3>
            <p>Check out our directory of $subject data experts, analysts, thinkers, and networks.</p>
            <button class="close-button">Find experts</button>
          </a>
        </div>
    </div>
    <div class="categories-card post-card">
        <div class="categories-image">
          <a tabindex="-1" href="{{site.baseurl}}/reports">
          <img alt="Read reports" src="{{site.baseurl}}/assets/img/layout/reports.svg">
          </a>
        </div>
        <div>
          <a tabindex="-1" href="{{site.baseurl}}/reports">
          <h3>Read reports and presentations</h3>
          <p>Get information that supports your use of data and provides a deeper understanding of $subject life in Aotearoa through the lens of data</p>
          <button class="close-button">Find reports</button>
          </a>
        </div>
    </div>
     <div class="categories-card post-card">
        <div class="categories-image">
          <a tabindex="-1" href="https://figure.nz/business">
          <img alt="Find business figures" src="{{site.baseurl}}/assets/img/layout/business.svg">
          </a>
        </div>
        <div>
          <a tabindex="-1" href="https://figure.nz/business">
          <h3>Find business figures</h3>
          <p>Explore data specific to your industries of work, workforce, and customer base.</p>
          <button class="close-button">Find business figures</button>
        </a>
        </div>
    </div>
  </div>
</div>
</section>