<section class="white-bg">
  <div class="content categories wrapper">
  <div class="categories-container">
    <a aria-label="See topics" class="categories-card post-card" tabindex="-1" href="{{site.baseurl}}/#topics">
      <div class="categories-image">
        <img alt="Explore topics" src="{{site.baseurl}}/assets/img/layout/topics.svg">
      </div>
      <div>
        <h3>Explore topics and charts</h3>
        <p>See interactive charts, data sources, definitions, and how and why data was collected. Take and use charts and data for free.</p>
        <button class="close-button">See topics</button>
      </div> 
    </a>  
    <a aria-label="Find experts" class="categories-card post-card" href="{{site.baseurl}}/experts" tabindex="-1">
        <div class="categories-image">
          <img alt="Find experts" src="{{site.baseurl}}/assets/img/layout/experts.svg">
        </div>
        <div>
          <h3>Find experts</h3>
            <p>Check out our directory of Pacific data experts, analysts, thinkers, and networks.</p>
            <button class="close-button">Find experts</button>
        </div>
    </a>
    <a aria-label="Find reports" class="categories-card post-card" tabindex="-1" href="{{site.baseurl}}/reports">
        <div class="categories-image">
          <img alt="Read reports" src="{{site.baseurl}}/assets/img/layout/reports.svg">
        </div>
        <div>
          <h3>Read reports and presentations</h3>
          <p>Get information that supports your use of data and provides a deeper understanding of Pacific life in Aotearoa through the lens of data</p>
          <button class="close-button">Find reports</button>
        </div>
    </a>
    <a aria-label="Find business figures" class="categories-card post-card" tabindex="-1" href="https://figure.nz/business">
        <div class="categories-image">
          <img alt="Find business figures" src="{{site.baseurl}}/assets/img/layout/business.svg">
        </div>
        <div>
          <h3>Find business figures</h3>
          <p>Explore data specific to your industries of work, workforce, and customer base.</p>
          <button class="close-button">Find business figures</button>
        </div>
    </a>
  </div>
</div>
</section>