<!--This adds a centered text section to the page, suitable for things like an introductory paragraph with a title. 
    Background colour can be either white or grey. The example is white, but change to grey-bg for grey.
-->
<section class="white-bg">
  <div class="content categories wrapper">
  <div class="text">
    <h2>Welcome to {{site.title}}.</h2>
    <p>Kia orana, noa’ia, talofa lava, mauri, mālō e lelei, tālofa, ni sa bula vinaka, fakaalofa lahi atu, mālō ni and warm Pacific greetings.</p>
  </div>
  </div>
</section>