.home-section {
  background: $blurple;
  padding: 4rem 0 1rem;

  h1 {
    color: $white;
    font-family: $h1-font-family;
    font-size: $h1-font-size;
  }
  h2 {
    color: $white;
    font-family: $h2-font-family;
    font-size: 2em;
  }
  .header-badge {
    margin-left: -10px;
    max-width: 133px;
  }
  .content {
    .pr-logo {
      min-width: 100px;
      max-width: 300px;
    }
    .header-logo {
      margin-top: 2em;
      p {
        color:  $white; 
        margin: 0;   
      }
    }
    .logos {
      opacity: 80%;
    }
  }
}

.logo-container {
  display: flex;
  align-items: center;
}

.header-text {
  max-width: 80%;
}

.home-image {
  max-height: 50vh;
}

#home {
  margin-top: -50px;
}